<!--Navigation-->

<!--Home-->
<header>
      <div class="wrapper">
        <nav>
          <ul id="nav-primary" data-visible="false" class="navbar-top">
            <li><a href="#home">Home</a></li>
            <li><a href="#about-me">About</a></li>
            <li><a href="#my-skills">Skills</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>

          <!--Hamburger menu-->
          <div class="hamburger-menu">
            <i id="mobile-nav-toggle" class="fa-solid fa-bars" aria-controls="nav-primary" aria-expanded="false">
              <!-- <i class="fa-solid fa-xmark"></i> -->
              <span class="sr-only">Menu</span>
            </i>
          </div>
        </nav>
      </div>

  <section class="welcome" id="top">
      <div class="wrapper">
        <h1 id="home">
          <span>Hi, I'm Camilla 👋</span>
          <br>
          <span>I'm <span id="typewriter"></span></span>
          <span id="cursor">|</span>
          <br>
        </h1>
      </div>
  </section>
</header>

<main>
  <div class="spacer">
    <div class="arrow-down">
      <i class="fa-solid fa-chevron-down" id="arrow-down"></i>
    </div>
  </div>

  <!--About-->
  <section class="about" id="about-me">
    <div class="wrapper">
      <div class="about-name">
        <h2>About me</h2>
      </div>
      <div class="about-container">
        <div class="about-img">
          <img src="/camilla.jpg" alt="Camilla" id="profile-img">
        </div>
        <div class="about-text">
          <p>Hello World! I'm Camilla, a Full Stack Web Developer from Sweden now based in Sydney.</p>
            <br>
            <p>I'm excited to make the leap and continue refining my skills with the right company. Drop me a message in the contact form below.</p>
        </div>
      </div>
    </div>
    <div class="spacer"></div>
  </section>

  <!--Skills-->
  <section class="skills" id="my-skills">
    <div class="wrapper">
      <h2>
        <span>Skills</span>
      </h2>
      <ul class="skills-container">
        <li class="skills-title">
          <i class="devicon-html5-plain" aria-hidden="true" title="HTML"></i>
          <p>HTML 5</p>
        </li>
        <li class="skills-title">
          <i class="devicon-css3-plain" aria-hidden="true" title="CSS"></i>
          <p>CSS</p>
        </li>
        <li class="skills-title">
          <i class="devicon-javascript-plain" aria-hidden="true" title="Javascript"></i>
          <p>Javascript</p>
        </li>
        <li class="skills-title">
          <i class="devicon-sass-original" aria-hidden="true" title="Sass"></i>
          <p>Sass</p>
        </li>
        <li class="skills-title">
          <i class="devicon-bootstrap-plain" aria-hidden="true" title="Bootstrap"></i>
          <p>Bootstrap</p>
        </li>
        <li class="skills-title">
          <i class="devicon-ruby-plain" aria-hidden="true" title="Ruby"></i>
          <p>Ruby</p>
        </li>
        <li class="skills-title">
          <i class="devicon-rails-plain" aria-hidden="true" title="Rails"></i>
          <p>Rails</p>
        </li>
        <li class="skills-title">
          <i class="devicon-git-plain" aria-hidden="true" title="Git"></i>
          <p>Git</p>
        </li>
        <li class="skills-title">
          <i class="devicon-github-original" aria-hidden="true" title="Github"></i>
          <p>Github</p>
        </li>
        <li class="skills-title">
          <i class="devicon-heroku-original" aria-hidden="true" title="Heroku"></i>
          <p>Heroku</p>
        </li>
        <li class="skills-title">
          <i class="devicon-figma-plain" aria-hidden="true" title="Figma"></i>
          <p>Figma</p>
        </li>
        <li class="skills-title">
          <i class="devicon-postgresql-plain" aria-hidden="true" title="PostgreSQL"></i>
          <p>PostgreSQL</p>
        </li>
      </ul>
    </div>
    <div class="spacer"></div>
  </section>

  <!--Projects-->
  <section class="current-projects" id="projects">
    <div class="wrapper">
      <div class="project-heading">
        <h2>Projects</h2>
        <p>Skills grow - so will this portfolio.</p>
      </div>
      <div class="projects-container">

        <!-- Swapt -->
        <div class="project project-one">
          <div class="phone-mockup">
            <img src="swapt-mockup.png" alt="Mockup of iPhone 12 showing frame of Swapt's outfit feed">
          </div>
          <div class="project-text">
            <h3 class="project-headline">Swapt</h3>
            <p>Take control of your closet!</p>
            <p>A mobile-first app that allows the user to upload a virtual wardrobe, create and post outfits, as well as being able to swap items they no longer want or need.</p>
            <p>Created in a team of 4 as our group's final project of the Le Wagon Web Dev bootcamp.</p>
            <div class="made-with">
              <p>MADE WITH:</p>
              <ul class="project-icons-container">

                <li class="project-icon">
                  <i class="devicon-rails-plain" aria-hidden="true" title="Rails"></i>
                </li>

                <li class="project-icon">
                  <i class="devicon-html5-plain" aria-hidden="true" title="HTML"></i>
                </li>

                <li class="project-icon">
                  <i class="devicon-sass-original" aria-hidden="true" title="Sass"></i>
                </li>

                <li class="project-icon">
                  <i class="devicon-bootstrap-plain" aria-hidden="true" title="Bootstrap"></i>
                </li>

              </ul>
            </div>
            <div class="project-links">
              <a href="https://www.swapt.shop/" target="_blank" rel="noopener noreferrer" tabIndex="0" aria-hidden="true" title= "Live link to Swapt">Live site</a>
              <span>|</span>
              <a href="https://github.com/serena-mellor/swapt" target="_blank" rel="noopener noreferrer" tabIndex="0" aria-hidden="true" title= "Swapt on Github">Github</a>
            </div>
          </div>
        </div>

        <!-- Recloset -->
        <div class="project project-two">
          <div class="laptop-mockup">
            <img src="recloset-mockup.png" alt="Mockup of Macbook laptop showing frame of Recloset">
          </div>
          <div class="project-text">
            <h3 class="project-headline">ReCloset</h3>
            <p>Shop sustainably</p>
            <p>ReCloset is a website for second hand shopping inspired by Vinted.</p>
            <p>Created in a team of 4 as part of the Le Wagon Web Dev bootcamp.</p>
            <div class="made-with">
              <p>MADE WITH:</p>
              <ul class="project-icons-container">

                <li class="project-icon">
                  <i class="devicon-rails-plain" aria-hidden="true" title="Rails"></i>
                </li>

                <li class="project-icon">
                  <i class="devicon-html5-plain" aria-hidden="true" title="HTML"></i>
                </li>

                <li class="project-icon">
                  <i class="devicon-sass-original" aria-hidden="true" title="Sass"></i>
                </li>

                <li class="project-icon">
                  <i class="devicon-bootstrap-plain" aria-hidden="true" title="Bootstrap"></i>
                </li>
              </ul>
            </div>
            <div class="project-links">
              <a href="https://recloset-d1513cf74926.herokuapp.com/" target="_blank" rel="noopener noreferrer" tabIndex="0" aria-hidden="true" title= "Live link to ReCloset">Live site</a>
              <span>|</span>
              <a href="https://github.com/serena-mellor/recloset" target="_blank" rel="noopener noreferrer" tabIndex="0" aria-hidden="true" title= "ReCloset on Github">Github</a>
            </div>
          </div>
        </div>

        <!-- Rails blog -->
        <div class="project project-three">
        </div>

      </div>
    </div>
  </section>

  <!--Contact-->
  <section class="contacts" id="contact">
    <div class="wrapper">
      <h2>Get in touch</h2>
        <div class="form-container">
          <div class="form-text">
            <p>If you have any questions about me or my projects, don't hesitate to reach out!</p>
            <p>I'm available to grab a coffee and chat - drop a comment, question or feedback in the form below.</p>
          </div>
          <div class="form-input">
            <%= render "/contact_form/new" %>
          </div>
          <div class="form-text">
            <p>You can also reach me by sending an email to: camilla.ligovic@gmail.com</p>
            <p>Thanks for stopping by!</p>
          </div>
        </div>
        <div class="socials">
          <ul>
            <li><a href="https://www.linkedin.com/in/camilla-ligovic/" target="_blank" class="fa-brands fa-linkedin"></a></li>
            <li><a href="https://github.com/camligo" target="_blank" class="fa-brands fa-github"></a></li>
          </ul>
        </div>

      <!--To top of page-->
      <div class="to-top">
        <a href="#top">Back to top</a>
      </div>
      <div class="spacer"></div>
    </div>
  </section>
</main>

<!--Footer-->
<footer>
  <div class="wrapper">
    <div class="footer">
      <p>Designed by Camilla Ligovic 2024</p>
    </div>
  </div>
</footer>

<!--Thanks to Previewed for the mockup frames: https://previewed.app/ -->
