.about-container {
  display: grid;
  margin: 45px 0;
  width: 100%;

  .about-img {
    display: block;
  }

  .about-text {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
}

#profile-img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (min-width: 780px) {
  .about-container {
    gap: 3rem;
    grid-template-columns: 400px 1fr;
  }

}
