.form-container {
  display: flex;
  justify-content: center;
  margin: 50px 0;
  flex-direction: column;
}

.socials {
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;

    ul {
      display: flex;
      list-style-type: none;
      padding-left: 0;
    }

    li {
      margin-inline: 20px;
      font-size: 4rem;
      font-weight: 400;
    }
}

.to-top {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  cursor: pointer;
}

a:hover {
  transform: scale(1.2);
  color: #ff9100;
}
