.about, .projects, .contact, .skills {
  min-height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.welcome {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: center;

  p {
    font-size: 0.7rem;
  }
}

.spacer {
  min-height: 20vh;
  display: flex;
  justify-content: center;
}

#arrow-down {
  font-size: 30px;
}

#home {
  text-align: left;
}

#typewriter {
  color: #ff9100;
  font-weight: bold;
}

#cursor {
  color: #ff9100;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
}
