.about, .projects, .contact, .skills {
  min-height: 100vh;
}

.welcome {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: center;

  p {
    font-size: 0.7rem;
  }
}

.spacer {
  height: 20vh;
}
