.navbar-top {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
  letter-spacing: 3px;

  li {
    list-style: none;
    margin: 0.8rem;
  }
}

.header {
  min-height: 10vh;
}

#home, #about-me, #my-skills, #projects, #contact {
  scroll-behavior: smooth;
}
