body {
  font-family: "Sen", "Serif";
  font-size: 1.2rem;
  line-height: 1.6;
  letter-spacing: 1.5px;
  text-transform: uppercase;

    h2 {
      display: flex;
      font-size: 3.5rem;
      margin-bottom: 1rem;
    }
}
