body {
  font-family: "Sen", "Serif";
  font-size: 1.2rem;
  line-height: 1.6;
  letter-spacing: 1.5px;
  text-transform: uppercase;

    h1 {
      font-size: 3.2rem;
    }

    h2 {
      display: flex;
      font-size: 2.8rem;
      margin-bottom: 1rem;
      justify-content: center;
    }

    a {
      text-decoration: none;
    }
}
