body {
  height: 100vh;
  padding: 20px 50px;
  font-family: "Sen", "Serif";
  font-size: 1.2rem;
  line-height: 1.6;
  letter-spacing: 1.5px;
  background: #ebeef3;
  text-align: center;

    h1 {
      font-size: 3.2rem;
      text-transform: uppercase;
    }

    h2 {
      display: flex;
      font-size: 2.8rem;
      margin-bottom: 1rem;
      margin-top: 1rem;
      justify-content: center;
      text-transform: uppercase;
      text-decoration: underline #ff9100;
      text-underline-offset: 12px;
    }

    a {
      text-decoration: none;
      color: black;
    }
}
